In [9]:
import numpy as np
import pandas as pd
import matplotlib.pylab
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 20, 20
import warnings
import itertools
warnings.filterwarnings("ignore")

In [11]:
df = pd.read_csv("MER_T12_06.csv")
df.head(20)

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,CLEIEUS,197301,72.076,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
1,CLEIEUS,197302,64.442,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
2,CLEIEUS,197303,64.084,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
3,CLEIEUS,197304,60.842,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
4,CLEIEUS,197305,61.798,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
5,CLEIEUS,197306,66.538,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
6,CLEIEUS,197307,72.626,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
7,CLEIEUS,197308,75.181,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
8,CLEIEUS,197309,68.397,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
9,CLEIEUS,197310,67.668,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
10,CLEIEUS,197311,67.021,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
11,CLEIEUS,197312,71.118,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
12,CLEIEUS,197313,811.791,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
13,CLEIEUS,197401,70.55,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
14,CLEIEUS,197402,62.929,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
15,CLEIEUS,197403,64.519,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
16,CLEIEUS,197404,60.544,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
17,CLEIEUS,197405,64.687,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
18,CLEIEUS,197406,64.736,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide
19,CLEIEUS,197407,73.698,1,Coal Electric Power Sector CO2 Emissions,Million Metric Tons of Carbon Dioxide

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5094 entries, 0 to 5093
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MSN           5094 non-null   object
 1   YYYYMM        5094 non-null   int64
 2   Value         5094 non-null   object
 3   Column_Order  5094 non-null   int64
 4   Description   5094 non-null   object
 5   Unit          5094 non-null   object
dtypes: int64(2), object(4)
memory usage: 238.9+ KB

In [ ]:
# Changing Month from int to Date
dateparse = lambda x: pd.to_datetime(x, format='%Y%m', errors = 'coerce') #coerce to have a NaN field in empty or corrupted
df = pd.read_csv("data/MER_T12_06.csv", parse_dates=['Month'], index_col='Month', date_parser=dateparse) 
df.head(20)

In [ ]:
#drop all rows with null index 
#ts = time serie
ts = df[pd.Series(pd.to_datetime(df.index, errors='coerce')).notnull().values]
ts.head(15)

In [ ]:
#
ts = df[pd.Series(pd.to_datetime(df.index, errors='coerce')).notnull().values]
ts.head(15)

In [ ]:
ts['Value'] = pd.to_numeric(ts['Value'] , errors='coerce')
ts.head()

In [ ]:
ts.dropna(inplace = True)

In [ ]:
# sources = CO2 sources
sources = ts.groupby('Description')
ts.head(15)

In [ ]:
fig, ax = plt.subplots()
for desc, grp in sources:
    grp.plot( y='Value', label=desc,ax = ax, title='Carbon Emissions per Source', fontsize = 20)
    ax.set_xlabel('Time : Month')
    ax.set_ylabel('Carbon Emissions in Million Metric Tons')
    ax.xaxis.label.set_size(20)
    ax.yaxis.label.set_size(20)
    ax.legend(fontsize = 16)

In [ ]:
#Plot per Emission source
fig, axes = plt.subplots(3,3, figsize = (40, 40))
for (desc, group), ax in zip(sources, axes.flatten()):
    group.plot(y='Value',ax = ax, title=desc, fontsize = 20)
    ax.set_xlabel('Time : Month')
    ax.set_ylabel('Carbon Emissions in Million Metric Tons')
    ax.xaxis.label.set_size(20)
    ax.yaxis.label.set_size(20)

In [ ]:
QuantityPerSource = ts.groupby('Description')['Value'].sum().sort_values()
src = ['Geothermal Energy', 'Non-Biomass Waste', 'Petroleum Coke','Distillate Fuel ',
        'Residual Fuel Oil', 'Petroleum', 'Natural Gas', 'Coal', 'Full Emissions']

In [ ]:
fig = plt.figure(figsize = (16,9))
x_label = src
x_tick = np.arange(len(src))
plt.bar(x_tick, QuantityPerSource, align = 'center', alpha = 0.7)
fig.suptitle("CO2 Emissions by Sector", fontsize= 25)
plt.xticks(x_tick, x_label, rotation = 80, fontsize = 30 )
plt.yticks(fontsize = 30)
plt.xlabel('Carbon Emissions in Million Metric Tons', fontsize = 30)
plt.show()

In [ ]:
# ems = emissions
ems = ts.drop(['MSN','Column_Order','Unit'], axis=1)  # droping columns and leting only value and description column
# Petroleum total emissions (pte)
pte = ems[ems['Description'] =="Petroleum Electric Power Sector CO2 Emissions"]
pte = pte.drop(['Description'], axis=1)
pte

In [ ]:
plt.plot(pte)
# same result

In [ ]:
import statsmodels
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA 
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [ ]:
def TestStationaryPlt(pte):
    rolling_mean = pte.rolling(window = 12, center = False).mean()
    rolling_std = pte.rolling(window = 12, center = False).std()   
    plt.plot(pte, color = 'blue',label = 'Original Data')
    plt.plot(rolling_mean, color = 'red', label = 'Rolling Mean')
    plt.plot(rolling_std, color ='black', label = 'Rolling Standard Deviation')
    plt.xticks(fontsize = 20)
    plt.yticks(fontsize = 20)    
    plt.xlabel('Time in Years', fontsize = 20)
    plt.ylabel('Total Emissions', fontsize = 20)   
    plt.legend(loc='best', fontsize = 20)
    plt.title('Rolling Mean & Rolling Standard Deviation', fontsize = 20)
    plt.show()
TestStationaryPlt(pte)

In [ ]:
def Adf_test(pte):
    result = adfuller(pte['Value'])
    print('ADF Statistic: {}'.format(result[0]))
    print('p-value: {}'.format(result[1]))
    print('Critical Values:')
    for key, value in result[4].items():
        print('\t{}: {}'.format(key, value))
Adf_test(pte)

In [ ]:
moving_avg = pte.rolling(12).mean()
pte_trans = pte - moving_avg
pte_trans.head(13)

In [ ]:
pte_trans.dropna(inplace=True)
TestStationaryPlt(pte_trans)

In [ ]:
Adf_test(pte_trans)

In [ ]:
fig = plt.figure(figsize=(12,8))
ax1 = fig.add_subplot(211)
fig = sm.graphics.tsa.plot_acf(pte_trans.iloc[13:], lags=40, ax=ax1)
ax2 = fig.add_subplot(212)
fig = sm.graphics.tsa.plot_pacf(pte_trans.iloc[13:], lags=40, ax=ax2)

In [ ]:
mod = sm.tsa.statespace.SARIMAX(pte, 
                                order=(1,1,1), 
                                seasonal_order=(0,1,1,12),   
                                enforce_stationarity=False,
                                enforce_invertibility=False)
results = mod.fit()
print(results.summary().tables[1])

In [ ]:
results.plot_diagnostics(figsize=(15, 12))
plt.show()

In [ ]:
# gaussian residual error
results.resid.plot(kind='kde')

In [ ]:
pred = results.get_prediction(start=pd.to_datetime('1998-01-01'), dynamic=False)
pred_ci = pred.conf_int()
pred_ci.head()

In [ ]:
ax = pte['1973':].plot(label='observed')
pred.predicted_mean.plot(ax=ax, label='One-step ahead Forecast', alpha=.5)

ax.fill_between(pred_ci.index,
                pred_ci.iloc[:, 0],
                pred_ci.iloc[:, 1], color='k', alpha=.2)

ax.set_xlabel('Time : Years')
ax.set_ylabel('CO2 Emissions')
plt.legend()

plt.show()